/* root CSS */

#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding-top: 75px;
}
.border-text {
  top: -20px;
  position: absolute;
  background-color: white;
  font-size: 22px;
  letter-spacing: 3px;
  padding: 0 5px;
  text-align: center;
}
/* tabs */
.nav-tabs a {
  color: #502c61;
  font-size: 25px;
}
.nav-tabs .nav-link:hover {
  color: #e2cfec;
  background-color: #fff;
  border-color: #e2cfec #e2cfec #fff;
}

.nav-tabs .nav-link.active {
  color: #502c61;
  background-color: #fff;
  border-color: #9954bb #9954bb #fff;
}

/* NAVBAR */
.custom-navbar {
  background-color: #563d7c;
  min-height: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  border: 2px solid;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 14px;
  font-weight: bolder;
  font-size: 35px;
}

.logo-name {
  vertical-align: text-bottom;
  font-size: 20px;
  letter-spacing: 1px;
}

.login-user {
  vertical-align: 6px;
  font-size: 20px;
  letter-spacing: 1px;
}

/* MESSAGE */
.alert-dismissible .btn-close {
  font-size: 10px !important;
  top: -8px !important;
}

/* DROPDOWN ON USERNAME */
#username {
  font-weight: bolder;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}

.dropdown-toggle::after {
  vertical-align: 7px;
}

.badge-round {
  border-radius: 5px;
}

/* FOOTER */
#footer {
  font-weight: 500;
  border-top: 1px solid #ff7518;
  padding: 2px 60px;
  letter-spacing: 1px;
  font-size: 18px;
}

/* DEBUG POV */
